.user-list {
  padding: 20px;
  .options {
    margin-bottom: 20px;
    .el-input {
      width: 200px;
      margin-right: 30px;
    }
    .el-select {
      width: 200px;
    }
  }
  .table {
    height: calc(100% - 50px);
  }
}
